*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
   text-decoration: none;
   color: white;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
/*Navbar styling*/
header{
    background-color: rgb(82, 3, 3);
    width: 100%;
    z-index: 5;
    position: fixed;
}
header .navber{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
}
.navber .nav-menu{
    display: flex;
    gap: 12px;
}
.navber .nav-menu .nav-link{
    background-color: rgb(82, 3, 3);
    color: white;
    padding: 15px;
    border-radius: 1rem;
    transition: 0.5s ease;
}
.navber .nav-menu .nav-link:hover{
    color: white;
    background-color: rgb(255, 196, 0);
}
.hero-section{
    background-color: rgb(82, 3, 3);
    min-height: 100vh;
}
.hero-section .section-contain{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    color: white;
}
.hero-section .hero-ditels .titel{
    font-size:3.5rem;
    color:  rgb(255, 196, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-section .hero-ditels .subtitel{
    font-size: 2rem;
    margin-top: 20px;
    max-width: 70%;
}
.hero-section .hero-ditels .description{
    margin-bottom: 30px;
    font-size: 1.5rem;
}
.hero-section .hero-ditels .button{
    color: white;
    background-color: rgb(255, 196, 0);
    border-radius: 20px;
    padding: 8px 20px;
    border: 2px solid transparent;
    gap: 20px;
}

.hero-img-warper{
    max-width: 600px;
    margin-right: 40px;
}
/* about section */
.about-section{
    padding: 150px 0;
    background: pink;
}
.about-section .section-contain{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.about-section .about-img-wrapper .about-us{
    height: 300px;
    width: 300px;
    border-radius: 200px;
    object-fit: cover;
    display: flex;
}
.about-ditels {
    text-align: center;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;

}
.social-link-list .social-link{
    align-items: center;
    color: black;
    margin: 15px;
}
.about-ditels .about-titel{
    margin: 20px;
    color:rgb(255, 0, 0);
    font-family: monospace;
}
.section-contain .hot{
    height:300px;
    width:auto;
    object-fit: cover;
}
.menu-section{
    background: black;
    color: rgb(243, 152, 152);
    font-family: monospace;
}
.menu-section .manu-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 110px;
    justify-content: space-between;
}
.menu-section .manu-list .manu-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: calc(100% / 3 - 110px);
}
.menu-section .manu-list .name{
    margin: 12px 0;
    font-size: 1.5ren;
    font-weight: bolder;
}
.section-titel{
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    
}
/* testimonial section */
.testimonial-titel{
    color: red;
    text-align: center;
    text-decoration: solid;
    margin-top: 2rem;
    font-size: 2rem;
    font-family:monospace;  
}
.testimonial-section{
    padding: 50px 0 100px;
    background: pink;
}
.testimonial-section .testimonial .user-id{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 90px;
}
.testimonial-section .testimonial{
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}